*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --select-border: #777;
  --select-focus: blue;
  --select-arrow: var(--select-border);
}

select {
  appearance: none;
  background-color: transparent;
  border: none;
  padding: 0 1rem 0 0;
  margin: 0;
  font-family: inherit;
  cursor: inherit;
  line-height: inherit;
  outline: none;
}

select::-ms-expand {
  display: none;
}

.activity {
  display: flex;
  justify-content: center;
  align-items: center;
}

.select_activity {
  margin: 2.5rem 1.5rem 0 0;
}

.select_activity select,
.select_location select {
  width: 100%;
  min-width: 15ch;
  max-width: 30ch;
  border-radius: 0.25em;
  padding: 0.25em 0.5em;
  font-size: 1.25rem;
  cursor: pointer;
  line-height: 1.1;
  background-color: #fff;
  background-image: linear-gradient(to top, #f9f9f9, #fff 33%);
}

.select_location select::after {
  content: "";
  width: 0.8em;
  height: 0.5em;
  background-color: var(--select-arrow);
  clip-path: polygon(100% 0%, 0 0%, 50% 100%);
}

.select_location {
  margin: 2.5rem 0 0 1.5rem;
}

.search_results {
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
  width: 50%;
  position: absolute;
  left: 25%;
  translate: (-50, -50);
}

.search_card {
  width: 200px;
  height: 300px;
  background-color: #f4f4f4;
  margin: 20px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  text-align: left;
}

.search_card img {
  width: 200px;
  height: 200px;
}

.search_card .business_info {
  padding: 0 0 0 10px;
}

.search_card p {
  font-size: 0.8rem;
}
